
:root {
   --target-size-1: 150px;
   --return-time-1: 7800ms;
   --px-1: calc(64% - var(--target-size-1) / 2);
   --py-1: calc(53% - var(--target-size-1) / 2);

   --target-size-2: 180px;
   --return-time-2: 6800ms;
   --px-2: calc(75% - var(--target-size-1) / 2);
   --py-2: calc(76% - var(--target-size-1) / 2);

   --target-size-3: 230px;
   --return-time-3: 11800ms;
   --px-3: calc(77% - var(--target-size-1) / 2);
   --py-3: calc(19% - var(--target-size-1) / 2);

   --target-size-4: 180px;
   --return-time-4: 9100ms;
   --px-4: calc(14% - var(--target-size-1) / 2);
   --py-4: calc(68% - var(--target-size-1) / 2);

   --target-size-5: 180px;
   --return-time-5: 16800ms;
   --px-5: calc(41% - var(--target-size-1) / 2);
   --py-5: calc(58% - var(--target-size-1) / 2);

   --target-size-6: 230px;
   --return-time-6: 18800ms;
   --px-6: calc(20% - var(--target-size-1) / 2);
   --py-6: calc(18% - var(--target-size-1) / 2);

   --target-size-7: 180px;
   --return-time-7: 21800ms;
   --px-7: calc(52% - var(--target-size-1) / 2);
   --py-7: calc(18% - var(--target-size-1) / 2);
}

* {
   box-sizing: border-box;
   user-select: none;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
body {
   width: 100vw;
   height: 100vh;
   background-color: #96d4cd;
   box-shadow: inset 0px 0px 350px -250px black;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-container {
   background-color: #385d75;
   border: 1vw solid #432506;
   box-shadow: inset 0px 0px 350px -250px black,
   inset 0px 0px 12px -8px black
   ;
   border-radius: .3vw;
   width: 92vw;
   height: 92vh;
   cursor: crosshair;
}
.target-container {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.target-container::after {
   content: '';
   background-color: #432506;
   box-shadow: 0px 2px 12px -2px #00000063;
   width: 100%;
   height: 15px;
   position: relative;
   top: 14px;
}
.target-area {
   position: absolute;
   border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
   z-index: 1000;
   width: 100%;
   height: 88%;

   animation: var(--show-areaA);
   cursor: crosshair;
   /* transition: 0ms calc(var(--return-time-1) + 1000ms); */
}
.target {
   position: absolute;
   display: flex;
   width: 100%;
}
.target img {
   width: 100%;
   position: absolute;
   bottom: 0;
}




#target-container-1 {
   left: var(--px-1);
   top: var(--py-1);
   width: var(--target-size-1);
   height: var(--target-size-1);
}

#target-area-1{
   animation-duration: var(--return-time-1);
}
#target-1{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-1) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-1:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-1) cubic-bezier(0,.77,.55,.79) forwards
}
#object-1:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-1);
}




#target-container-2 {
   left: var(--px-2);
   top: var(--py-2);
   width: var(--target-size-2);
   height: var(--target-size-2);
}

#target-area-2{
   animation-duration: var(--return-time-2);
}
#target-2{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-2) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-2:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-2) cubic-bezier(0,.77,.55,.79) forwards
}
#object-2:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-2);
}



#target-container-3 {
   left: var(--px-3);
   top: var(--py-3);
   width: var(--target-size-3);
   height: var(--target-size-3);
}

#target-area-3{
   animation-duration: var(--return-time-3);
}
#target-3{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-3) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-3:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-3) cubic-bezier(0,.77,.55,.79) forwards
}
#object-3:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-3);
}



#target-container-4 {
   left: var(--px-4);
   top: var(--py-4);
   width: var(--target-size-4);
   height: var(--target-size-4);
}

#target-area-4{
   animation-duration: var(--return-time-4);
}
#target-4{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-4) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-4:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-4) cubic-bezier(0,.77,.55,.79) forwards
}
#object-4:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-4);
}



#target-container-5 {
   left: var(--px-5);
   top: var(--py-5);
   width: var(--target-size-5);
   height: var(--target-size-5);
}

#target-area-5{
   animation-duration: var(--return-time-5);
}
#target-5{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-5) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-5:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-5) cubic-bezier(0,.77,.55,.79) forwards
}
#object-5:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-5);
}



#target-container-6 {
   left: var(--px-6);
   top: var(--py-6);
   width: var(--target-size-6);
   height: var(--target-size-6);
}

#target-area-6{
   animation-duration: var(--return-time-6);
}
#target-6{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-6) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-6:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-6) cubic-bezier(0,.77,.55,.79) forwards
}
#object-6:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-6);
}



#target-container-7 {
   left: var(--px-7);
   top: var(--py-7);
   width: var(--target-size-7);
   height: var(--target-size-7);
}

#target-area-7{
   animation-duration: var(--return-time-7);
}
#target-7{
   animation: 
   hit 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnA 1000ms var(--return-time-7) cubic-bezier(0,.77,.55,.79) forwards;
}
#object-7:checked ~ .target{
   animation: 
   hitB 1000ms cubic-bezier(0,.77,.55,.79) forwards,
   hit-returnB 1000ms var(--return-time-7) cubic-bezier(0,.77,.55,.79) forwards
}
#object-7:checked ~ .target-area{
   animation: var(--show-areaB);
   animation-duration: var(--return-time-7);
}